<html>
<head>
	<title>Under Armour Fitness | 2015</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../client/stylesheets/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	<script src="../server/controllers/app.js"></script>
</head>
<body ng-app="UAfitnessAPI" ng-controller="MainCtrl">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<div class="page-header">
					<h1>RIVAL<small>UNDER ARMOUR <span>X</span> MAP MY FITNESS</small></h1>
				</div>

				<div ng-repeat="post in posts | orderBy:'-upvotes'">
					<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
						{{post.upvotes}}
					<span>
						<a ng-show="post.link" href="{{post.link}}">
							{{post.title}}
						</a>
						<span ng-hide="post.link">
							{{post.title}}
						</span>
					</span>
				</div>

				<form ng-submit="addPost()">
					<h3>ADD NEW POST</h3>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Link" ng-model="link"></input>
					</div>
					<button type="submit" class="btn btn-danger">POST</button>
				</form>

			</div>
		</div>
	</div>
</body>
</html>