<!-- PARTIAL C -->
<!-- MORE -->


<!-- <h1>Partial C</h1>
{{obj.Message}}
<a ui-sref=".nested">Nested</a> -->
<div ui-view></div>

<div class="container offset">

	<hr class="feature-divider">

		<div class="row feature">
			<div class="col-md-7">
				<h2 class="feature-heading">Training Plans <span class="text-muted">make all the difference</span></h2>
				<p class="lead">Meggings Kickstarter tattooed twee, asymmetrical small batch cardigan flannel health goth banh mi street art High Life selvage 8-bit. Craft beer tilde Williamsburg roof party Tumblr, meh squid tote bag small batch Helvetica occupy YOLO listicle.</p>
			</div>
			<div class="col-md-5">
				<img class="feature-image img-responsive center-block" src="images/mountains.jpg" alt="Generic placeholder image">
			</div>
		</div>

		<hr class="feature-divider">

		<div class="row feature">
			<div class="col-md-7 col-md-push-5">
				<h2 class="feature-heading">Challenges <span class="text-muted">bring out your best</span></h2>
				<p class="lead">Normcore selvage cornhole, readymade bitters Helvetica authentic Blue Bottle PBR swag. Yr kogi retro, literally cray lomo scenester ennui pickled migas Thundercats wayfarers American Apparel chia kale chips. Yr kogi Wes Anderson Schlitz, quinoa sartorial flannel cliche.</p>
			</div>
			<div class="col-md-5 col-md-pull-7">
				<img class="feature-image img-responsive center-block" src="images/run.jpg" alt="">
			</div>
		</div>

		<hr class="feature-divider">

		<div class="row feature">
			<div class="col-md-7">
				<h2 class="feature-heading">calculators <span class="text-muted">bmi & calorie</span></h2>
				<p class="lead">Try-hard messenger bag fanny pack lumbersexual, keffiyeh Pitchfork craft beer Truffaut ennui Intelligentsia Odd Future. Sartorial whatever disrupt, polaroid authentic Etsy small batch.</p>
			</div>
			<div class="col-md-5">
				<img class="feature-image img-responsive center-block" src="images/run.jpg" alt="">
			</div>
		</div>

	<hr class="feature-divider">

</div>

