<!-- PARTIAL D -->
<!-- TEAM -->


<!-- <h1>Partial D</h1>
{{obj.Message}}
<a ui-sref=".nested">Nested</a> -->
<div ui-view></div>

<div class="container offset">

	<hr class="feature-divider">

		<div class="row feature">
			<div class="col-md-7">
				<h2 class="feature-heading">TEAM<span class="text-muted">WORK</span></h2>
				<p class="lead">Meggings Kickstarter tattooed twee, asymmetrical small batch cardigan flannel health goth banh mi street art High Life selvage 8-bit. Craft beer tilde Williamsburg roof party Tumblr, meh squid tote bag small batch Helvetica occupy YOLO listicle.</p>
			</div>
			<div class="col-md-5">
				<img class="feature-image img-responsive center-block" src="images/run.jpg" alt="">
			</div>
		</div>

	<hr class="feature-divider">

</div>

