<!-- PARTIAL B -->
<!-- DISCOVER -->


<!-- <h1>Partial B</h1>
{{obj.Message}}
<a ui-sref=".nested">Nested</a> -->
<div ui-view></div>

<div class="container-fluid discover">
	<div class="row discoverImg">
    </div>

    <div class="row hero-content">
        <h1>DISCOVER</h1>
    </div>

    <div class="row centerTxt">
		<h1 class="intro">CREATE YOUR OWN ROUTE OR EXPLORE CURATED ROUTES</h1>
		<p>SORT BY DISTANCE, DIFFICULTY, AVG PACE AND MORE</p>
    </div>

    <div class="row centerTxt">
        <div class="col-md-6 create">
            <h4>CREATE</h4>
        </div>
        <div class="col-md-6 explore">
            <h4>EXPLORE</h4>
        </div>
    </div>
</div>