<!-- PARTIAL A -->
<!-- DASHBOARD -->


<!-- <h1>Partial A</h1>
{{obj.Message}}
<a ui-sref=".nested">Nested</a> -->
<div ui-view></div>

<div class="container-fluid dashboard">
    <div class="row dashboardImg">
    </div>

    <section class="feature-intro">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="centerTxt">ACCESS YOUR MAPMYFITNESS & UNDERARMOUR INFORMATION IN ONE PLACE.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 leftcol">
                    <h5 class="centerTxt">MAP MY FITNESS</h5>
                    <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 centercol">
                    <h5 class="centerTxt">UNDER ARMOUR</h5>
                    <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 rightcol">
                    <h5 class="centerTxt">MAP MY FITNESS</h5>
                    <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="row hero-content">
        <h1>DASHBOARD</h1>
    </div>

    <div class="row centerTxt top">
        <div class="col-md-12">
            <h1><span>29,873.25</span></h1>
            <h1>TOTAL MILES</h1>
        </div>
    </div>

    <div class="row centerTxt">
        <div class="col-md-4 feature-list">
            <h2><span>489</span></h2>
            <h2>TOTAL RUNS</h2>
        </div>
        <div class="col-md-4 feature-list">
            <h2><span>7'23"</span></h2>
            <h2>AVG PACE</h2>
        </div>
        <div class="col-md-4 feature-list">
            <h2><span>25:44</span></h2>
            <h2>AVG TIME</h2>
        </div>
    </div>

</div>